{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Weather</title>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'weather/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'weather/css/spinner.css' %}">
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>
  <body>
    <h2>Satellite Weather Images</h2>
    <h3>Animated 24 Hour History</h3>
    <div id="weather">
      <div id="time">
        <div id="local-time">...</div>
        <div id="image-time">...</div>
      </div>
      <div id="progress"></div>
      <div id="image-wrapper" style="" >
        <div class="spinner"></div>
        <img style="display:none;" src="" />
      </div>
      <div id="counter" style="font-size:small;" >&nbsp;</div>
      <div id="buttons">
        <button id="step-backward" title="Back 1 frame"><i class="fa fa-step-backward"></i></button>
        <button id="play" title="Start animating"><i class="fa fa-play"></i></button>
        <button id="pause" title="Stop animation"><i class="fa fa-pause"></i></button>
        <button id="step-forward" title="Forward 1 frame"><i class="fa fa-step-forward"></i></button>
        <div style="margin:.5em 0 1em 0;">Animation Control</div>
      </div>
      <div id="slider" title="Adjust speed">
        <div id="slider-left">-</div>
        <div id="slider-right">+</div>
      </div>
      <div style="margin-top:1em;">Playback Speed</div>

      <div id="courtesy">
        Images courtesy <a href="http://www.ssec.wisc.edu/data/">Space Science and Engineering Center</a>
        University of Wisconsin-Madison
      </div>
    </div>
    <footer>
      &copy; Copyright 2009-20017 Inyo Technical Services
    </footer>
    <script>
      var imageUrls = new Array(
        {% autoescape off %}{{ image_urls|join:', ' }}{% endautoescape %}
      );
    </script>
    <script src="{% static 'weather/js/app.js' %}"></script>
  </body>
</html>
