<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Satellite Weather Image Animation</title>
<style type="text/css">

#title {
       text-align: center;
}

#div1 {
	width: 300px;
	height: 25px;
	border-style: solid;
	border-color: black;
	border-width: 2px;
	margin: 5px;
}

#progress {
	float: left;
	width: 1%;
	height: 10px;
	background-color: blue;
}

#time_display {
	font-size: 80%;
	margin: 15px;
}

#counter_text {
	font-size: 80%;
}

#app_table {
	border-style: solid;
	border-color: black;
	border-width: 1px;
	background-color: white;
}

#weather {
	margin: 10px 40px 10px 40px;
}

#image_source {
	margin: 40px 10px 10px 10px;
	font-size: 80%;
}

#footer {
	margin: 40px 5px 5px 5px;
}

body {
	background-color: aliceblue;
	font-family: verdana, arial, tahoma, sans-serf;
}

a:link {
	color: blue;
}

a:visited {
	color: blue;
}

a:hover {
	color: red;
}

a {
	text-decoration: none;
}

</style>

<script type="text/javascript">

var NumImages = <TMPL_VAR NAME=NUM_IMAGES>;
var Images = new Array (NumImages);
var ImageTimes = new Array (NumImages);
var ImageIndex = 0;
var AnimationIndex = NumImages - 1;
var TimerID;
var Rate = 500;
var CancelLoad = false;

var ImageURLs = new Array(
	<TMPL_LOOP NAME=IMAGE_NAMES>
	"<TMPL_VAR NAME=IMAGE_NAME>"<TMPL_UNLESS __last__>,<TMPL_ELSE>);</TMPL_UNLESS>
	</TMPL_LOOP>

var ImageTimes = new Array(
	<TMPL_LOOP NAME=IMAGE_DATES> 
	"<TMPL_VAR NAME=IMAGE_DATE>"<TMPL_UNLESS __last__>,<TMPL_ELSE>);</TMPL_UNLESS>
	</TMPL_LOOP>

function hideit() {
	Div1 = document.getElementById("div1");
	Div1.style.visibility = "hidden";
}


function enableStart(enable) {
	F = document.getElementById("aform");
	F.start.disabled = !enable;
}

function enableStop(enable) {
	F = document.getElementById("aform");
	F.stop.disabled = !enable;
}

function enableStep(enable) {
	F = document.getElementById("aform");
	F.stepup.disabled = !enable;
	F.stepback.disabled = !enable;
}

function enableRateAdjust(enable) {
	F = document.getElementById("aform");
	F.faster.disabled = !enable;
	F.slower.disabled = !enable;
}

function enableReset(enable) {
	F = document.getElementById("aform");
	F.reset.disabled = !enable;
}

function loadNextImage() {

	if (CancelLoad) {
	    return;
	}

	var i = ImageIndex;

	for (var j=0; j<NumImages; j++) {
	
		Images[j] = new Image();
		Images[j].onload = imageLoaded;
		Images[j].src = ImageURLs[j];

	}

}

var NumLoaded = 0;

function imageLoaded() {

	displayFrame(NumLoaded);
	displayNumber(NumLoaded);
	NumLoaded++;
	updateProgress();
	if (NumLoaded == NumImages) {
		loadingComplete();
	}

}

function updateProgress() {

	var bar = document.getElementById("progress");
	var pct = Math.round(NumLoaded/NumImages * 100);

	bar.style.width = pct+"%";
	var span = document.getElementById("ctime");
	var spanStr = "Please wait while loading images ... ";
	spanStr += NumLoaded + " of " + NumImages;
	span.innerHTML = spanStr;

}

function updateAnimation(index) {

	var bar = document.getElementById("progress");
	var pct = Math.round(index/NumImages * 100);

	bar.style.width = pct+"%";

}

function loadingComplete() {

//	hideit();
	enableStart(true);
	enableStep(true);
	enableReset(true);

	AnimationIndex = NumImages - 1;

	displayFrame(AnimationIndex);
	displayDate(AnimationIndex);
	displayNumber(AnimationIndex);

}

function startAnimation() {

	enableStart(false);
	enableStop(true);
	enableStep(false);
	enableRateAdjust(true);
	clearTimeout(TimerID);
	animate();
}

function stopAnimation() {
	enableStart(true);
	enableStop(false);
	enableStep(true);
	enableRateAdjust(false);
	clearTimeout(TimerID);
}

function stepNext(dir) {

	incIndex(dir);
	updateAnimation(AnimationIndex);
	displayFrame(AnimationIndex);
	displayDate(AnimationIndex);
	displayNumber(AnimationIndex);

}

function incIndex(amount) {
	AnimationIndex += amount;
	if (AnimationIndex == NumImages) {
		AnimationIndex = 0;
 	}
	else if (AnimationIndex < 0) {
		AnimationIndex = NumImages - 1;
	}
}

function animate() {
	incIndex(1);
	updateAnimation(AnimationIndex);
	displayFrame(AnimationIndex);
	displayDate(AnimationIndex);
	displayNumber(AnimationIndex);
	if (AnimationIndex == NumImages - 1) {
		TimerID = setTimeout("animate()",3*Rate);
	}
	else {
		TimerID = setTimeout("animate()",Rate);
	}
}

function displayNumber(index) {
	var C = document.getElementById("counter_text");
	C.innerHTML = "Image: " + (index+1) + " of " + NumImages;
}

function displayFrame(index) {
	var W = document.getElementById("weather");
	W.src = Images[index].src;	
}

function displayDate(index) {
	var idate = Date();
	var mydate = new Date(ImageTimes[index]);
	var dateString = "<b>Image time:</b> " + mydate.toLocaleString();
	var dateLoc = document.getElementById("ctime");
	dateLoc.innerHTML = dateString;
}

function speed(adjust) {

	if (adjust < 1 && adjust > -1) {
	    Rate = 500;
	    AnimationIndex = NumImages - 1;
            updateAnimation(AnimationIndex);
	    displayFrame(AnimationIndex);
	    displayDate(AnimationIndex);
	    displayNumber(AnimationIndex);
        }
	else {
	    Rate += Rate * adjust / 100;
        }
	    
}

function currentTime() {

	var ctime = document.getElementById("current_time");
	var mydate = new Date();
	ctime.innerHTML = mydate.toLocaleString();
	setTimeout("currentTime()",1000);

}

function makeDate(d) {

	var day = new Array('Sun','Mon','Tue','Wed','Thu','Fri','Sat');
	var month = new Array('Jan','Feb','Mar','Apr','May','Jun','Jul',
			      'Aug','Sep','Oct','Nov','Dec');

	var dstring = day[d.getDay()] + " ";
	dstring += d.getDate() + " ";
	dstring += month[d.getMonth()] + " ";
	dstring += d.getFullYear() + " ";
	dstring += d.getHours() + ":";
	dstring += d.getMinutes() + ":";
	dstring += d.getSeconds();	

	return dstring;
	
}

</script>

</head>

<body onload="loadNextImage()">

<div id="title">
<h2>Satellite Weather Images</h2>
<h3>Animated <TMPL_VAR NAME=HOURS> hour history</h3>
</div>

<table align="center" cellspacing="2" cellpadding="0" border="0" id="app_table">
<tr align="center">
 <td><div id="time_display">
 <p><b>Local time:</b> <span id="current_time"></span></p>
 <p><span id="ctime">Please wait while loading images ... 0 of 0</span></p>
 </div>
 </td>
</tr>

<tr align="center" >
 <td>
 <table align="center" id="div1">
 <tr>
  <td><div id="progress"></div></td>
 </tr>
 </table>
 </td>
</tr>

<tr align="center">
 <td><div id="counter_text">Image: 0 of 0</div>
 </td>
</tr>

<tr align="center">
 <td><img id="weather" src="blue.png" width="400" height="300" alt="weather image" />
 </td>
</tr>

<tr align="center">
 <td>
 <form id="aform" action="">
 <table width="100%" id="control_table">
 <tr align="center">
  <td>
  <input name="stepback" type="button" value="&lt; Step" 
	 onclick="stepNext(-1);" disabled="disabled" />
  <input name="start" type="button" value="Start" 
	 onclick="startAnimation()" disabled="disabled" />
  <input name="stop" type="button" value="Stop" 
	 onclick="stopAnimation()" disabled="disabled" />
  <input name="stepup" type="button" value="Step &gt;" 
	 onclick="stepNext(1)" disabled="disabled" />
  </td>
 </tr>
 <tr align="center">
  <td>Frame Control
  </td>
 </tr>
 <tr align="center">
  <td>
  <input name="slower" type="button" value="-" 
	 onclick="speed(20)" disabled="disabled" /> 
  <input name="reset" type="button" value="Reset" 
	 onclick="speed(0)" disabled="disabled" />
  <input name="faster" type="button" value="+" 
	  onclick="speed(-20)" disabled="disabled" />
  </td>
 </tr>
 <tr align="center">
  <td>Playback Speed
  </td>
 </tr>
 </table>
 </form>
 </td>
</tr>

<tr>
 <td><div id="image_source">Images courtesy <a href="http://www.ssec.wisc.edu/data/">
 Space Science and Engineering Center</a><br/>
 University of Wisconsin-Madison<br/>
 <br/>
 Web application created by <a href="http://www.inyotech.com">
 Inyo Technical Services</a>
 </div>
 </td>
</tr>
</table>

<div id="footer">
Powered by<br/>
<table width="100%" style="background-color: white">
<tr>
 <td width="33%" align="left"><a href="http://www.debian.org">
 <img src="debian_logo.png" border="0" height="30" alt="debian logo" /></a>
 </td>
 <td width="33%" align="center"><a href="http://perl.apache.org">
 <img src="mod_perl_logo.png" border="0" height="30" alt="mod_perl logo" /></a>
 </td>
 <td width="33%" align="right"><a href="http://httpd.apache.org">
 <img src="httpd_logo.png" border="0" height="30" alt="apache logo" /></a>
 </td>
</tr>
</table>
</div>

<script type="text/javascript">
currentTime();
</script>


</body>

</html>
